*
{
    box-sizing:border-box;
}

html
{
    font-size:62.5%;    /* 62.5% of 16px = 10px */
}

body
{
    margin:0;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:300;
    background:url(Images/bg-img.png), hsl(206,92%,94%);
}

.main
{
    width:45%;
    background-color:white;
    padding: 3rem 6rem;
    border-radius:1rem;
    box-shadow: 0 1rem 1rem -0.5rem rgba(12, 12, 12, 0.4);
}

.question
{
    margin-top:0;
    font-size:2.2rem;
    font-weight:600;
    letter-spacing:0.1rem;
}

.options
{
    list-style:none;
    padding-left:0;
    margin-bottom:2.2rem;
    color:rgb(103, 103, 103);
}

.option
{
    margin:0.7rem 0;
}

.option:hover
{
    font-weight:400;
}

.option input
{
    vertical-align:bottom;
    width:1.1rem;
}

.option label
{
    font-size:1.4rem;
}


.btn-container
{
    display:flex;
    justify-content:center;
    margin-top:3rem;
}

#btn
{
    border:0;
    background-color:rgb(115, 184, 254);
    color:white;
    padding:0.4rem 1.4rem;
    border:0.1rem solid rgb(115, 184, 254);
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:0.1rem;
    cursor:pointer;
    border-radius:1px;
}

#btn:hover
{
    background-color:rgb(86, 142, 198);
    border-color:rgb(86, 142, 198);
}

#btn:active
{
    background-color:white;
    color:rgb(115, 184, 254);
}

.score
{
    background-color:#dfe6e9;
    text-align:center;
    margin-top:2.5rem;
    padding:2.4rem 1rem;
    box-shadow:0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.404);
}

.score h2
{
    margin-top:0;
    font-size:1.8rem;
    font-weight:400;
    color:grey;
}

.score .btn-again
{
    border:0;
    background-color:rgb(25, 243, 225);
    padding:0.5rem 1.6rem;
    font-weight:600;
    font-size:1.4rem;
    letter-spacing:0.1rem;
    cursor: pointer;
}

.score .btn-again:hover
{
    background-color:rgb(20, 201, 186);
    transform:scale(1.1);
}

.score .btn-again:active
{
    background-color:rgb(25, 243, 225);
}


